/* GENERAL STYLES */

.row {
  max-width: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

/* SQUARES */

.square:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square > a,
.square > div{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* VENTISETTE LAYOUT */

.off-canvas-wrap .inner-wrap header {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1;
  .right-off-canvas-toggle {
    font-size: 1.2em;
  }
}

aside.right-off-canvas-menu {
  background: #{$primary-color};
  border-left: 3px solid #444;
  ul.off-canvas-list li a {
    background: transparent;
    color: #333;
    border-bottom: 3px solid #444;
  }
}

html,
body,
.off-canvas-wrap,
.off-canvas-wrap .inner-wrap,
.off-canvas-wrap .inner-wrap .site-wrapper,
.off-canvas-wrap .inner-wrap .site-wrapper .main {
  background-color: #{$primary-color};
  height: 100%;
  width: 100%;
}

.off-canvas-wrap .inner-wrap .site-wrapper .main {

  .media-d {
      @media #{$small-up} {
        height: 67%;
      }
      @media #{$medium-up} {
        height: 100%;
      }
      img {
        height: 100%;
        width: 100%;
        margin: auto;
        border-radius: inherit;
        object-fit: cover;
        object-position: center center;
      }
  }

  .media-d .badge {
    position: absolute;
    margin-top: 4vw;
    margin-left: 3vw;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    z-index: 100;
    .exit-media {
      visibility: hidden;
    }
    img {
      height: 100%;
      width: 100%;
      margin: auto;
      border-radius: inherit;
      object-fit: cover;
      object-position: center center;
    }
  }

  .media-d .badge.large {
    margin-top: 0;
    margin-left: 0;
    border-radius: 0 !important;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,.85);
    .exit-media {
      visibility: visible;
      position: absolute;
      top: 0.4em;
      right: 1em;
      font-size: 2em;
    }
    img {
      object-fit: contain;
      border-radius: inherit;
    }
  }

  .text-d {  
    height: 67%;
    .text-content {
      height: 100%;
      border-left: 3px solid #444;
      overflow-y: scroll; 
      background-color: ivory;
    }
  }
  .nav-d {
    position: fixed;
    top: 67%;
    height: auto;
    background-color: transparent;
    z-index: 1;
    a {
      vertical-align: middle;
      line-height: 100%;
    }
  }
  .cover-d {
    height: 33%;
    background-image: url("http://lorempixel.com/600/40");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top: 3px solid #444;
    @media #{$medium-up} {
      border-left: 3px solid #444;
    }
  }
}