h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square > a,
.square > div {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#main {
  overflow-y: scroll;
}

html,
body,
.site-wrapper,
.site-wrapper .main,
.site-wrapper .main .full-height {
  height: 100%;
}

.site-wrapper .main .half-height {
  height: 50%;
}

.site-wrapper .main .three-quarters-height {
  height: 75%;
}
.site-wrapper .main .quarter-height {
  height: 25%;
}

.site-wrapper .main .two-thirds-height {
  height: 67%;
}
.site-wrapper .main .third-height {
  height: 33%;
}

.badge {
  position: absolute;
  top: 4vw;
  left: 4vw;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  z-index: 100;
}

.cover-d {
  background-image: url('http://lorempixel.com/600/600');
  background-size: cover;
}
.text-d {
  background-color: white;
  overflow-y: scroll; 
  @media #{$medium-up} {
    border-left: 4px solid black;
  }
}
.media-d {
  background-color: indianred;
  background-image: url('http://lorempixel.com/100/400');
  background-size: cover;
  background-position: center center;
  border-top: 4px solid black;
  @media #{$medium-up} {
    border-left: 4px solid black;
  }
}