<!-- Media-d section -->
<div ng-if="mtc.page.title !== 'CV'" class="media-d small-3 medium-5 columns pan man">  
    <div ng-if="mtc.page.media !== undefined">
    <div ng-init="media.large = false" ng-class="{'large': media.large}" class="badge primary hide-for-medium-up">
      <img ng-src="[[mtc.page.media]]"  ng-click="media.large=true" ng-animate-swap="mtc.page.media" class="animated-img"/>
      <a class="exit-media" ng-click="media.large=false">
        <i class="fa fa-close fa-lg"></i>
      </a>
    </div>
    <img ng-src="[[ mtc.page.media ]]" class="hide-for-small animated-img" ng-animate-swap="mtc.page.media" />
  </div>
</div>

<div ng-if="mtc.page.title === 'CV'" class="media-d small-3 medium-5 columns pan man resume">
  <div ng-if="mtc.page.mediaText != undefined" class="media-text">
    <ul ng-if="mtc.page.ch.type == 'timeline'" class="accordion expanded typewriter">
        <li class="accordion-navigation">
            <a class="head">
                [[mtc.page.ch.title]]
            </a>
        </li>
        <li class="accordion-navigation" ng-repeat="item in mtc.page.ch.list">
            <a>
                [[item.date]]
            </a>
            <div class="content active">
                <h5>[[item.description]]</h5>
                <h6>
                    <span class="label secondary">
                     [[item.place]]
                    </span>
                </h6>
            </div>
        </li>
    </ul>
  <ul ng-if="mtc.page.ch.type == 'skills'" class="accordion expanded typewriter">
        <li class="accordion-navigation">
            <a class="head">
                [[mtc.page.ch.title]]
            </a>
        </li>
        <li class="accordion-navigation" ng-repeat="item in mtc.page.ch.list">
            <div class="content active pbn ptn">
                <h5>
                <i class="fa fa-terminal"></i>[[item.skill]] 
                <progress value="[[item.level]]" max="10"></progress>
                </h5>
            </div>
        </li>
    </ul>
</div>
</div>
  