<script type="text/ng-template" id="views/posts.html">
  <h2 class="pam">
    Posts
    <small class="mbn" ng-if="posts.filter !== ''">
      <i class="fa fa-tag"></i>
       [[posts.filter]] | 
      <a ng-click="posts.filter = ''" title="Remove filter">
        <small>remove filter</small>
      </a>
    </small>
  </h2>
  <ul class="accordion expanded" role="tablist" ng-model="posts.filter" ng-init="posts.filter = ''">
    <li ng-repeat="post in p.posts | tagFilter: posts.filter" class="accordion-navigation" ng-attr-id="[[post.id]]" ng-class="{selected: post.isActive}">
      <a class="prl" href="" ng-click="posts.toggleAccordion(post, $event)">
        <span ng-bind="post.title"></span>
        <br/>
        <span class="label" ng-repeat="tag in post.tags" ng-click="posts.toggleFilter(tag, $event)" ng-class="{primary: posts.filter === tag, secondary: posts.filter !== tag}" title="Filter by: [[tag]]">
          [[ tag ]] 
        </span>
      </a>
      <div class="content" ng-class="{'active': post.isActive}">
        <p ng-bind="post.excerpt"></p>
        <hr/>
        <p class="text-right">
        <a ui-sref="posts.post({ id: post.id })">
          <i class="fa fa-arrow-right"></i>
          See the full post
        </a>
        </p>
      </div>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="views/post.html">
  <div class="pam">
    <h1>
      <span>
        [[ post.post.title]]
      </span>
      <small>
        [[ post.post.date ]]
      </small>
    </h1>
    <hr class="mvn">
    <p class="mtn text-right">
      <span class="label secondary mrs" ng-repeat="tag in post.post.tags">
        [[tag]]
      </span>
    </p>
    <div ng-bind-html="post.post.content | sanitize"></div>
  </div>
</script>

<script type="text/ng-template" id="views/page.html">
  <div class="pam">  
    <h1>[[ page.page.title]]
      <small>[[ page.page.date ]]</small>
      <br/>
    </h1>
    <div ng-bind-html="page.page.content | sanitize"></div>
  </div>
</script>