<script type="text/ng-template" id="views/posts.html">
  <h2>Posts</h2>
  <div class="row expanded">
    <div ng-repeat="post in posts.posts" class="square small-6 medium-3 columns">
      <a href="/#[[post.url]]" style="background: url('[[post.media]]');">
        <strong>[[post.title]]</strong>
      </a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="views/post.html">
  <h1>[[ post.post.title]]
    <small>
      [[ post.post.date ]]
    </small>
  </h1>
  <hr/>
  <div ng-bind-html="post.post.content | sanitize"></div>
</script>

<script type="text/ng-template" id="views/page.html">
      <h1>[[ page.page.title]]
        <small>[[ page.page.date ]]</small>
        <br/>
      </h1>
      <div ng-bind-html="page.page.content | sanitize"></div>
</script>