<header>
  <div class="small-12 columns">
    <section class="right">
        <ul class="inline-list mam">
        <li>
            <a class="right-off-canvas-toggle" href="#">
              <i class="fa fa-bars fa-lg">
            </i>
          </a>
        </li>
        </ul>
    </section>
  </div>
</header>

<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><a href="left_item_1">Left item 1</a></li>
    <li><a href="left_item_2">Left item 2</a></li>
    <li><a href="left_item_3">Left item 3</a></li>
  </ul>
</aside>