<header>
  <div class="small-12 columns">
    <section class="right">
        <ul class="inline-list mam">
        <li>
            <a class="right-off-canvas-toggle">
              <i class="fa fa-bars fa-lg">
            </i>
          </a>
        </li>
        </ul>
    </section>
  </div>
</header>

<nav class="right-off-canvas-menu" ng-controller="SandwichCtrl as sandwich">
  <ul class="off-canvas-list">
    <li ng-repeat="page in sandwich.pages" ng-class="sandwich.isActive(page);" ng-if="page.index > 0">
      <a ng-href="/#[[ page.url ]]" ng-bind="page.title"></a>
    </li>
  </ul>
</nav>