---
---

{% include head.html %}

<!--
<div class="row show-for-medium-up mam">
{% include nav.html %}
</div>
<div class="row small-collapse">
{% include nav.html %}
</div>
<div class="row small-collapse">
  <div class="small-8 columns square">
    
    <div id="main" class="row">
      <section role="main">
        <div class="small-12 columns">
          {{ content }} 
        </div>
      </section>
    </div>
  </div>
  
  <div class="small-2 columns square">
  <a class="button expand mbn">Bloc 8</a>
  </div>
  <div class="small-2 columns square">
  <a class="button expand mbn">Bloc 9</a>
  </div>
  <div class="small-2 columns square">
  <a class="button expand mbn">Bloc 10</a>
  </div>
  <div class="small-2 columns square">
  <a class="button expand mbn">Bloc 11</a>
  </div>
  <div class="small-2 columns square">
  <a class="button expand mbn">Bloc 12</a>
  </div>
  <div class="small-2 columns square">
  <a class="button expand mbn">Bloc 13</a>
  </div>
  <div class="small-2 columns square">
  <a class="button expand mbn">Bloc 14</a>
  </div>
  <div class="small-2 columns square">
  <a class="button expand mbn">Bloc 15</a>
  </div>
</div>
<div class="row small-collapse">
{% include posts.html %}
</div>
<div class="row small-collapse">
{% include footer.html %}
</div>
-->

<div class="row small-collapse">
  <div class="small-4 medium-4 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square end">
    <a class="button expand mbn">Bloc</a>
  </div>
</div>
<div class="row small-collapse">
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square">
    <a class="button expand mbn">Bloc</a>
  </div>
  <div class="small-4 medium-2 columns square end">
    <a class="button expand mbn">Bloc</a>
  </div>
</div>

{% include foot.html %}
